---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import Link from '../components/Link.astro';
import { Image } from 'astro:assets';
import front_pic from "../assets/images/front_pic.png";
import mappe from "../assets/images/mappe.svg";
import water from "../assets/images/water.jpg";
---
<MainLayout title="Digital Ansøgning">
<div class="grid grid-cols-2">
	<div><Image src={front_pic} format="webp" alt="portætbillede af piger" class="" /></div>
	<div><Image src={mappe} alt="computer mappe icon" class="" /></div>
</div>

<section>
		<div><Image src={water} format="webp" alt="klippe i vandet" class="" /></div>
</section>
</MainLayout>