---
import { Image } from 'astro:assets';
import plakat from "../assets/images/plakat.svg";
---
<div class="flex items-center justify-center h-screen">
  <div>
    <Image src={plakat} alt="" class="drop-shadow-xl" />
  </div>
</div>