---
import { Image } from 'astro:assets';
import plakaten from "../assets/images/plakaten.svg";
---
<div class="flex items-center justify-center h-screen relative text-[#162C52] uppercase underline">
  <div class="relative wobble-hor-top">
    <Image src={plakaten} alt="illustration af papir" class="w-full max-w-[600px] sm:max-w-[800px] lg:max-w-[1000px]" />

    <a class="underline absolute top-[85%] left-[6%] sm:left-[7%] lg:left-[8%] transform -translate-x-1/2 -translate-y-1/2 -rotate-87 origin-center text-xs sm:text-base lg:text-l" style="font-family: 'Cutive Mono';"  href="https://www.linkedin.com/in/caroline-nymark-b-bab0a8136/">LinkedIn</a>
    <p class="underline absolute top-[75%] lg:top-[80%] left-[17%] sm:left-[18%] lg:left-[19%] transform -translate-x-1/2 -translate-y-1/2 -rotate-88 origin-center text-xs sm:text-base lg:text-l"><a style="font-family: 'Cutive Mono';" href="mailto:cabo0002@stud.kea.dk">cabo0002@stud.kea.dk</a></p>
    <p class="underline absolute top-[79%] lg:top-[81%] left-[29%] sm:left-[30%] lg:left-[31%] transform -translate-x-1/2 -translate-y-1/2 -rotate-89 origin-center text-xs sm:text-base lg:text-l"><a style="font-family: 'Cutive Mono';" href="tel:+4542164441">2 16 44 41</a></p>
    <a class="underline absolute top-[85%] left-[40%] sm:left-[41%] lg:left-[42%] transform -translate-x-1/2 -translate-y-1/2 -rotate-89 origin-center text-xs sm:text-base lg:text-l" style="font-family: 'Cutive Mono';"  href="https://www.linkedin.com/in/caroline-nymark-b-bab0a8136/">LinkedIn</a>
    <p class="underline absolute top-[75%] lg:top-[80%] left-[51%] sm:left-[52%] lg:left-[53%] transform -translate-x-1/2 -translate-y-1/2 -rotate-89 origin-center text-xs sm:text-base lg:text-l"><a style="font-family: 'Cutive Mono';" href="mailto:cabo0002@stud.kea.dk">cabo0002@stud.kea.dk</a></p>
    <p class="underline absolute top-[80%] left-[62%] sm:left-[63%] lg:left-[64%] transform -translate-x-1/2 -translate-y-1/2 -rotate-90 origin-center text-xs sm:text-base lg:text-l"><a style="font-family: 'Cutive Mono';" href="tel:+4542164441">+45 42 16 44 41</a></p>
    <p class="underline absolute top-[75%] lg:top-[80%] left-[90%] sm:left-[91%] lg:left-[92%] transform -translate-x-1/2 -translate-y-1/2 -rotate-93 origin-center text-xs sm:text-base lg:text-l"><a style="font-family: 'Cutive Mono';" href="mailto:cabo0002@stud.kea.dk">cabo0002@stud.kea.dk</a></p>
  </div>
</div>