---
---
<div class="uppercase grid grid-cols-3 items-center text-lg">
    <!-- Venstrestillet -->
    <div class="text-left">
        <p>KEA Københavns Erhvervsakademi</p>
        <p>Digital design</p>
        <p>3. semester</p>
    </div>

    <!-- Vertikalt centreret i midten -->
    <div class="flex justify-center self-start">
        <p>Multimediedesigner</p>
    </div>

    <!-- Højrestillet -->
    <div class="text-right">
        <p>Adobe CC, Figma</p>
        <p>UX/UI Design, Prototyping</p>
        <p>HTML, CSS, Astro, Tailwind</p>
    </div>
</div>
